<!DOCTYPE html>
<html>
<head>
    <title>Color Palette</title>
    <style>
        .color {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <h1>Color Palette</h1>
    <% colors.forEach(function(color) { %>
        <div class="color" style="background-color: <%= color %>;"></div>
    <% }); %>
</body>
</html>